<html lang="en">
  <head>
    <title>404 - ERROR</title>
  </head>
  <body> </body><script>
    if (
      top?.window.location.pathname.startsWith('/scram/') ||
      top?.window.location.pathname.startsWith('/sj/') ||
      top?.window.location.pathname.startsWith('/pre/')
    ) {
      alert('UV / SJ error');
    } else {
      alert('404 - ERROR');
    }
  </script>
</html>
