---
import '@/main.css';
import SideBar from '../layouts/side.astro';
import Tabs from '../layouts/tb.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Google Docs</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script src="/a/bundled/v/b.js" is:inline></script>
    <script src="/a/bundled/v/cnfg.js" is:inline></script>
    <link rel="prefetch" href="/a/bundled/scram/worker.js" />
    <link rel="prefetch" href="/a/bundled/scram/shared.js" />
    <script src="../utils/script.ts"></script>
  </head>
  <body class="h-screen text-white overflow-hidden">
    <Tabs />
    <SideBar />
  </body>
  <script src="/a/bundled/scram/controller.js" is:inline></script>
  <script src="/bm/index.js" defer is:inline></script>
  <script src="../utils/navigation.ts"></script>
</html>