---
import "@/main.css"
import { Loader2 } from "lucide-astro"
---

<!doctype html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home - Google Drive</title>
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <body> 
    <div class="flex flex-col justify-center items-center h-screen">
      <Loader2 class="animate-spin w-16 h-16 text-text-HEADER" />
      <h1 class="font-semibold font-Secondary text-text-SECONDARY text-4xl mt-16">Please wait while Lunar loads your content...</h1>
    </div>
    <iframe id="container" class=""></iframe>
  </body>
  <script src="@/utils/search.ts"></script>
  <script src="@/utils/browser.ts"></script>
</html>
