---
import { Search } from 'lucide-astro';
import '@/main.css';
---
<!doctype html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home - Google Drive</title>
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <body class="flex items-center justify-center min-h-screen">
    <div class="">
      <h1 class="text-5xl uppercase font-extrabold tracking-tight absolute top-3 left-5 text-text-HEADER drop-shadow-md">
        Lunar
      </h1>
      </div>
    <div class="flex flex-col items-center text-center px-6 py-12 space-y-8 max-w-lg w-full">
      <div class="relative w-full">
        <form method="post" id="fm" class="flex items-center">
          <input
            class="w-full pl-12 pr-4 py-4 text-lg text-text-SECONDARY bg-gray-800 border border-gray-700 rounded-lg shadow-lg focus:outline-none transition duration-300 focus:border-transparent"
            type="text"
            id="inp"
            placeholder="Search something..."
          />
          <button 
            type="submit" 
            id="sbtn"
            class="absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-text-HEADER transition duration-300"
            aria-label="Search"
          >
            <Search />
          </button>
        </form>
      </div>
      <p class="text-lg font-medium text-white">
        Cats go meow, crazy right.
      </p>
    </div>
  </body>
  <script src="@/utils/index.ts"></script>
</html>
