---
import '@/main.css';
import SideBar from '../layouts/side.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Lunar</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script src="@scripts/config.ts"></script>
  </head>
  <body class="h-screen text-white overflow-hidden">
    <SideBar />
    <iframe id="frame" src="welcome" class="ml-[72px] w-[calc(100%-72px)] h-full"></iframe>
  </body>
</html>
