---
import { Search, X } from 'lucide-astro';
import '@/main.css';
---
<!doctype html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home - Google Drive</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <script src="@/utils/index.ts"></script>
    <script is:inline src="/assets/packaged/u/config.js"></script>
  </head>
  <body class="flex items-center justify-center min-h-screen bg-background-background">
    <div class="rounded-md bg-background-primary shadow-lg">
    <h1
      class="font-Header text-5xl uppercase font-extrabold tracking-tight absolute top-3 left-5 text-text-primary drop-shadow-md"
    >
      Lunar
    </h1>
    <div
      class="flex flex-col items-center text-center px-6 py-12 space-y-8 max-w-lg w-full"
    >
      <div class="relative w-full">
        <form method="post" id="fm" class="flex items-center">
          <input
            class="w-full font-Secondary pl-12 pr-4 py-4 text-lg text-text-secondary bg-background-secondary border border-gray-700 rounded-lg shadow-lg focus:outline-none transition duration-300 focus:border-transparent"
            type="text"
            id="inp"
            placeholder="Search something..."
          />
          <button
      type="submit"
      id="sbtn"
      class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-white transition duration-300"
      aria-label="Search"
    >
      <Search />
    </button>
    <button
      type="button"
      id="cbtn"
      class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-red-400 transition duration-300"
      aria-label="Clear"
    >
      <X />
    </button>
        </form>
      </div>
      <p class="max-w-md truncate font-Secondary text-lg text-text-secondary">
        Cats go meow, dogs go woof, and I go to the moonnn.
      </p>
    </div>
  </div>
  </body>
</html>
