---
import '@/main.css';
import SideBar from '../layouts/side.astro';
import ImportLucide from '../layouts/lucide.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Lunar v2</title>
    <meta name="title" content="Lunar v2" />
    <meta property="og:title" content="Lunar v2" />
    <meta name="description" content="Lunar v2 is the best spot for games, AI & searching unbl0ck3d" />
    <meta property="og:description" content="Lunar v2 is the best spot for games, AI & searching unbl0ck3d" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script is:inline src="/bm/index.js"></script>
    <script src="@scripts/config.ts"></script>
  </head>
  <body class="h-screen overflow-hidden text-white">
    <SideBar />
    <iframe id="frame" src="welcome" class="ml-[72px] h-full w-[calc(100%-72px)]"></iframe>
  </body>
  <ImportLucide />
</html>
