---
import '@/main.css';
import SideBar from '../layouts/side.astro';
import ImportLucide from '../layouts/lucide.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Lunar v2</title>
    <meta name="description" content="Lunar v2 is a tabbed pr0xy that mimics a browser but better" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script is:inline src="/bm/index.js"></script>
  </head>
  <body class="flex h-screen w-screen overflow-hidden text-white">
    <SideBar class="h-full flex-shrink-0" style="height: 100dvh;"v />
    <div class="h-full flex-1">
      <iframe
        id="frame"
        src="welcome"
        class="h-full w-full border-none"
        sandbox="allow-scripts allow-same-origin allow-forms"></iframe>
    </div>
    <ImportLucide />
  </body>
</html>
