---
import '@/main.css';
import { AppWindowMac, ChevronLeft, ChevronRight } from 'lucide-astro';
---

<!doctype html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home - Google Drive</title>
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <body>
    <nav class="bg-gray-800 h-18 p-4">
      <div class="mx-auto flex items-center justify-between space-x-4">
        <ul class="flex space-x-4">
          <li class="mr-4 group relative">
            <a href="#tabs">
              <AppWindowMac
                class="w-6 h-6 text-gray-300 hover:text-white transition-all duration-200 transform hover:scale-110 hover:translate-y-[-5px]"
              />
            </a>
            <div
              class="absolute left-1/2 transform -translate-x-1/2 top-full mt-2 w-max px-2 py-1 bg-gray-800 text-white text-xs rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-200"
            >
              Tabs
            </div>
          </li>
          <li class="group relative">
            <a href="#back">
              <ChevronLeft
                class="w-6 h-6 text-gray-300 hover:text-white transition-all duration-200 transform hover:scale-110 hover:translate-y-[-5px]"
              />
            </a>
            <div
              class="absolute left-1/2 transform -translate-x-1/2 top-full mt-2 w-max px-2 py-1 bg-gray-800 text-white text-xs rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-200"
            >
              Back
            </div>
          </li>
          <li class="group relative">
            <a href="#forward">
              <ChevronRight
                class="w-6 h-6 text-gray-300 hover:text-white transition-all duration-200 transform hover:scale-110 hover:translate-y-[-5px]"
              />
            </a>
            <div
              class="absolute left-1/2 transform -translate-x-1/2 top-full mt-2 w-max px-2 py-1 bg-gray-800 text-white text-xs rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-200"
            >
              Forward
            </div>
          </li>
        </ul>
        <div class="flex-1 max-w-lg flex justify-center">
          <input
            type="text"
            placeholder="Search..."
            class="h-8 rounded-md w-full px-4 py-2 bg-gray-700 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>
        <ul class="flex space-x-4">
          <li class="group relative">
            <a
              href="#"
              class="text-gray-300 hover:text-white transition-all duration-200 transform hover:scale-125 hover:translate-y-[-5px]"
            >
              Contact
            </a>
            <div
              class="absolute left-1/2 transform -translate-x-1/2 top-full mt-2 w-max px-2 py-1 bg-gray-800 text-white text-xs rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-200"
            >
              Contact
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
