---
import '@/main.css';
import GameLayout from '../components/asset.astro';
import gaymes from '@assets/json/lists.json';
const gList = gaymes.gms;
---

<title>Lunar Games</title>
<script is:inline src="/bm/index.js"></script>
<script is:inline src="/data/all.js"></script>
<script is:inline src="/tmp/config.js"></script>
<script is:inline src="/tmp/bundle.js"></script>
<GameLayout list={gList} />
