---
import '@/main.css';
import Bookmark from '../layouts/bm.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>New Tab</title>
  </head>
  <body class="h-screen flex items-center justify-center flex-col relative">
    <h1 class="text-7xl text-text-HEADER font-linux font-bold" id="clock"></h1>
    <p id="date" class="text-xl text-text-SECONDARY font-mono mt-2"></p>
    <p
      id="weather"
      class="absolute top-4 right-4 text-text-SECONDARY font-linux px-6 py-3 rounded-xl text-[16px] font-bold"
    >
    </p>
    <Bookmark />
  </body>

  <script>
    function Clock() {
      const now = new Date();
      const clockElement = document.getElementById('clock');
      if (clockElement) {
        clockElement.innerText = now.toLocaleTimeString([], { hour12: false });
      }
    }

    async function DisplayInfo() {
      const todayDate = new Date();
      const dateElement = document.getElementById('date') as HTMLParagraphElement;
      if (dateElement) {
        dateElement.innerText = todayDate.toLocaleDateString([], {
          weekday: 'long',
          month: 'long',
          day: 'numeric',
          year: 'numeric',
        });
      }
      const weatherResponse = await fetch('https://api.weather.gov/points/40.7590322,-74.0516312');
      const pointData = await weatherResponse.json();

      const forecastUrl = pointData.properties.forecast;
      if (!forecastUrl) throw new Error('No forecast URL found for location.');

      const forecastResponse = await fetch(forecastUrl);
      const forecastData = await forecastResponse.json();

      const currentForecast = forecastData.properties.periods[0];
      if (currentForecast) {
        document.getElementById('weather')!.innerText =
          `${currentForecast.shortForecast}, ${currentForecast.temperature}°${currentForecast.temperatureUnit}`;
      } else {
        throw new Error('No current weather forecast available.');
      }
    }

    DisplayInfo();
    Clock();

    setInterval(Clock, 1000);
  </script>
</html>
