---
import '@/main.css';
import Shortcuts from '../layouts/shortcuts.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>New Tab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body class="font-linux flex h-screen w-screen flex-col items-center justify-center text-white select-none">
    <div id="clock" class="flex items-end space-x-2 text-6xl font-bold tracking-wide sm:text-7xl md:text-8xl">
      <span id="hours" class="font-extrabold text-white">12</span>
      <span>:</span>
      <span id="minutes" class="text-white">59</span>
      <span>:</span>
      <span id="seconds" class="text-white">48</span>
      <span id="ampm" class="mb-1 text-base font-semibold text-white md:text-xl">AM</span>
    </div>
    <Shortcuts />
    <script>
      function updateClock() {
        const now = new Date();
        let h = now.getHours();
        const m = now.getMinutes();
        const s = now.getSeconds();
        const ampm = h >= 12 ? 'PM' : 'AM';
        h = h % 12 || 12;
        //@ts-ignore
        document.getElementById('hours').textContent = String(h).padStart(2, '0');
        //@ts-ignore
        document.getElementById('minutes').textContent = String(m).padStart(2, '0');
        //@ts-ignore
        document.getElementById('seconds').textContent = String(s).padStart(2, '0');
        //@ts-ignore
        document.getElementById('ampm').textContent = ampm;
      }

      setInterval(updateClock, 1000);
      updateClock();
    </script>
  </body>
</html>
