---
import '@/main.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>New Tab</title>
  </head>
  <body class="h-screen flex items-center justify-center flex-col relative">
    <h1 class="text-7xl text-text-HEADER font-linux font-bold" id="clock"></h1>
    <p id="date" class="text-xl text-text-SECONDARY font-mono mt-2"></p>
    <p
      id="weather"
      class="absolute top-4 right-4 text-text-SECONDARY font-linux px-6 py-3 rounded-xl text-2xl font-bold"
    >
    </p>

    <script>
      async function displayWeather() {
        try {
          const response = await fetch('https://ipapi.co/json/');
          const data = await response.json();
          const city = data.city;

          const weatherRes = await fetch(
            `https://api.openweathermap.org/data/2.5/weather?q=${city}&units=imperial&appid=735b6d179fce1fdfad4f7d5044c81121`,
          );
          const weatherData = await weatherRes.json();

          if (weatherData.main) {
            document.getElementById('weather')!.innerText =
              `${Math.round(weatherData.main.temp)}°F`;
          }
        } catch (error) {
          console.error('[ERROR] Failed to fetch weather:', error);
        }
      }

      function displayInfo() {
        const now = new Date();
        document.querySelector('h1')!.innerText = now.toLocaleTimeString([], { hour12: false });
        const date = document.querySelector('#date');
        if (date instanceof HTMLElement) {
          date.innerText = now.toLocaleDateString([], {
            weekday: 'long',
            month: 'long',
            day: 'numeric',
            year: 'numeric',
          });
        }
      }

      setInterval(displayInfo, 1000);
      displayInfo();
      displayWeather();
    </script></body>
</html>
