---
import '@/main.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>New Tab</title>
  </head>
  <body class="h-screen flex items-center justify-center flex-col">
    <h1 class="text-7xl text-text-HEADER font-linux font-bold" id="clock"></h1>
    <p id="date" class="text-xl text-text-SECONDARY font-mono mt-2"></p>

    <script>
      function displayInfo() {
        const now = new Date();
        document.querySelector('h1')!.innerText = now.toLocaleTimeString([], { hour12: false });
        const date = document.querySelector('#date');
        if (date instanceof HTMLElement) {
          date.innerText = now.toLocaleDateString([], {
            weekday: 'long',
            month: 'long',
            day: 'numeric',
            year: 'numeric',
          });
        }
      }
      setInterval(displayInfo, 1000);
      displayInfo();
    </script>
  </body>
</html>
