---
import '@/main.css';
import AppLayout from '../components/asset.astro';
import apList from '@assets/json/lists.json';
const aList = apList.aps;
---

<title>Lunar Apps</title>
<script is:inline src="/a/bundled/scram/all.js"></script>
<AppLayout list={aList} />
