---
import '@/main.css';
import AppLayout from '../components/asset.astro';
import apList from '@assets/json/lists.json';
const aList = apList.aps;
---

<title>Lunar Apps</title>
<AppLayout list={aList} />
