---
import '@/main.css';
import AppLayout from '../components/asset.astro';
import apList from '@assets/json/lists.json';

const aList = apList.aps;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lunar Apps</title>
  </head>
  <body>
    <script is:inline src="/bm/index.js"></script>
    <script is:inline src="/data/all.js"></script>
    <script is:inline src="/tmp/config.js"></script>
    <script is:inline src="/tmp/bundle.js"></script>
    <AppLayout list={aList} type="app" />
  </body>
</html>
    