---
import '@/main.css';
import messages from '../../public/a/json/messages.json';

function getQuote() {
  const index = Math.floor(Math.random() * messages.length);
  return messages[index].message;
}
const quote = getQuote();
---

<html>
  <body class="flex flex-col h-screen justify-center items-center">
    <h1 class="text-text-header font-bold font-linux text-8xl">Lunar V2</h1>
    <p class="text-text-secondary mt-12 text-2xl">{quote}</p>
  </body>
</html>
