---
import '@/main.css';
import Tabs from '../layouts/tab.astro';
---

<body class="h-screen text-white">
  <Tabs />
  <script is:inline src={`/bm/index.js`}></script>
  <script is:inline src="/data/all.js"></script>
  <script is:inline src="/tmp/config.js"></script>
  <script is:inline src="/tmp/bundle.js"></script>
  <script src="@scripts/navigation"></script>
</body>
