@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #111827;
    --background-overlay: #1F2937;
    --text-header: #f9fafb;
    --text-secondary: #9ca3af; 
  }

  body {
    @apply bg-background;
  }
}
