@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=Prompt:wght@400;500;600;700;800&display=swap')
layer(base);

@import 'tailwindcss';

@theme {
  --font-linux: outfit, sans-serif;
  --font-fit: Prompt, sans-serif;

  --color-background: var(--background);
  --color-background-overlay: var(--background-overlay);

  --color-border-default: var(--border);

  --color-text-HEADER: var(--text-header);
  --color-text-SECONDARY: var(--text-secondary);

  --animate-spin: spin 1s linear 1;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: #11121c;
    --background-overlay: #1a1b26;
    --border: #1f1f30;
    --text-header: #d0d6f9;
    --text-secondary: #aab0d0;

    --font-sans: 'Outfit', 'Prompt', system-ui, sans-serif;
    --font-accent: 'Prompt', 'Outfit', system-ui, sans-serif;
  }

  html {
    font-family: var(--font-sans);
    background-color: var(--background);
    color: var(--text-secondary);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-accent);
    color: var(--text-header);
  }

  body {
    @apply bg-background
  }
}
