@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: url('/assets/images/bg/default.png');
    --background-overlay: #2a273f;
    --text-header: #F9FAFB;
    --text-secondary: #0A1520;
  }

   body {
    background-image: var(--background);
    background-size: cover;
    background-position: center;
  }
}