@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #24273a;
    --background-overlay: #1e1e2e;
    --text-header: #a5adce;
    --text-secondary: #a5adcb;
  }

  body {
    @apply bg-background;
  }
}
