@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: url('/assets/images/bg/default.png');
    --background-overlay: #1F2937;
    --text-header: #0F2F42;
    --text-secondary: #b3b8bd;
  }

   body {
    background-image: var(--background);
    background-size: cover;
    background-position: center;
  }
}