@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #24273a;
    --background-overlay: #1e1e2e;
    --text-header: #a5adce;
    --text-secondary: #a5adcb;
  }

  body {
    @apply bg-background;
  }
}
