---
import '@/main.css';
---

<div class="bg-gray-900 h-22 w-20 mt-6 flex flex-col items-center space-y-2">
  <div class="shadow-lg transition-transform transform hover:scale-105 rounded-md border border-black flex flex-col items-center p-0">
    <img src="/assets/images/logo/yt.webp"
         class="object-cover rounded-md w-full h-full">
  </div>
  <div class="mt-2 font-medium text-sm text-center text-white px-3 py-1 rounded-md shadow-md">
   Youtube
  </div>
</div>
