<div id="logo-container" class="flex flex-row justify-start items-start mt-6 space-x-6"></div>

<script>
  import ConfigAPI from "../utils/config";

  const container = document.getElementById('logo-container');

  await ConfigAPI.get("bm")
    .then(data => {
      if (!data || !Array.isArray(data)) return;

      data.forEach((item) => {
        const logoDiv = document.createElement('div');
        logoDiv.classList.add(
          'flex', 'flex-col', 'justify-center', 'items-center',
          'rounded-md', 'overflow-hidden', 'p-4', 'bg-background-overlay',
          'border', 'border-border-default', 'transition-all', 'duration-300',
          'hover:border-blue-500', 'hover:shadow-xl', 'cursor-pointer'
        );

        logoDiv.innerHTML = `
          <img
            src="${item.logo}"
            alt="${item.name} Logo"
            class="w-16 h-16 rounded-full"
          />
          <p class="mt-2 text-sm font-mono text-text-SECONDARY font-semibold transition-colors duration-300 hover:text-blue-500 transform hover:scale-105">
            ${item.name}
          </p>
        `;

        logoDiv.addEventListener('click', () => {
          if (item.redir)  {
          const frame = top?.document.getElementById('frame') as HTMLIFrameElement;
          if (frame) {
            // idk how i should impletment this, frame.src = item.redir;
          }
          }
        });

        container?.appendChild(logoDiv);
      });
    });
</script>
