---
import ImportLucide from '../layouts/lucide.astro';
import "@/main.css"
---

<div class="relative mt-10 flex w-full max-w-4xl flex-row flex-wrap items-center justify-center gap-7 px-2">
  <div id="shortcuts" class="flex w-full flex-row flex-wrap items-start justify-center gap-7"></div>
</div>

<ImportLucide />
