---
import ImportLucide from './lucide.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="@scripts/tb.ts"></script>
  </head>
  <body class="bg-gray-900 p-4 font-sans text-white">
    <div class="w-full">
      <div id="tab-wrapper" class="relative flex h-14 items-center bg-[#1c1a2b] px-2">
        <div class="flex w-full items-center space-x-2">
          <div id="tcontainer" class="flex max-w-full flex-nowrap space-x-2 overflow-x-auto"></div>
          <button
            id="add"
            class="flex h-10 w-10 items-center justify-center rounded-md text-gray-400 hover:bg-gray-700 hover:text-white">
            <i data-lucide="plus" class="h-4 w-4"></i>
          </button>
        </div>
      </div>
      <div class="flex h-12 items-center border-t border-[#3a3758] bg-[#1c1a2b] px-4">
        <div class="flex items-center space-x-2">
          <button
            id="back"
            class="flex h-8 w-8 items-center justify-center rounded-md text-gray-400 hover:bg-gray-700 hover:text-white">
            <i data-lucide="arrow-left" class="h-4 w-4"></i>
          </button>
          <button
            id="forward"
            class="flex h-8 w-8 items-center justify-center rounded-md text-gray-400 hover:bg-gray-700 hover:text-white">
            <i data-lucide="arrow-right" class="h-4 w-4"></i>
          </button>
          <button
            id="refresh"
            class="group flex h-8 w-8 items-center justify-center rounded-md text-gray-400 hover:bg-gray-700">
            <i data-lucide="refresh-cw" class="h-4 w-4 transition-transform duration-500 group-hover:animate-spin"></i>
          </button>
        </div>
        <div class="ml-4 flex grow items-center space-x-2">
          <div class="relative flex grow">
            <input
              type="text"
              id="urlbar"
              class="font-linux h-9 w-full rounded-full border border-[#3a3758] bg-[#29263c] px-4 pr-12 text-sm font-medium text-gray-300 transition-colors hover:text-white focus:ring-0 focus:outline-none"
              placeholder="Enter a URL or a query..."
            />
            <button
              id="fav"
              class="absolute top-1/2 right-2 flex h-8 w-8 -translate-y-1/2 items-center justify-center rounded-full text-gray-400 transition duration-200 hover:scale-125 hover:text-yellow-400 active:scale-150">
              <i data-lucide="star" class="h-4 w-4"></i>
            </button>
          </div>
          <button
            id="code"
            class="flex h-8 w-8 items-center justify-center rounded-md text-gray-400 hover:bg-gray-700 hover:text-white">
            <i data-lucide="menu" class="h-5 w-5"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="fcontainer" class="h-[calc(100vh-7rem)] w-full overflow-hidden rounded-b-lg"></div>
    <ImportLucide />
  </body>
</html>
